# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ludong\gaic-2021-task3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
